*{
    background-color: rgb(234, 246, 247);
}

.container{
    background-color: antiquewhite;
    color: black;
    border-radius: 79px;
    display: flex;
    
    margin-left: 523px;
    margin-top: 127px;
    padding: 59px;
    margin-right: 328px;
    text-align: center;
    /* text-decoration: black; */

}
h1{
    text-decoration: rgb(0, 0, 0);
    text-decoration-line: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 173px;
    margin-left: 523px;
    margin-right: 328px;
    font-size: 100px;
    
   
}
/* #full{
    background-color: thistle;
    margin-left: 102px;
    margin-right: 0px;
    position: fixed;
    padding-bottom: 73px;
    
} */
#btnClick{
    width: 55px;
    height: 24px;
    background-color: cornflowerblue;
    color: whitesmoke;
    

}
#name{
    height: 19px;
    width: 327px;
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
   
}